nav >ul{
    display: flex;
    margin: 5px;
    /* display: block; */
    align-items: center;

}
nav li{
    list-style: none;
    margin-right: 5px;
    padding: 5px;
       

}

nav li>a{
    text-decoration: none;
}
nav li:hover{
    background-color: cadetblue;
}

footer {
    text-align: center;
}